$regular_family: 'Plus Jakarta Sans';
$bold_text: 700;
$thin_text: 500;

$small_font_size: 12px;
$regular_font_size: 15px;
$medium_font_size: 18px;
$large_font_size: 24px;

$small_line_height: 15px;
$regular_line_height: 19px;
$medium_line_height: 23px;
$large_line_height: 30px;

$regular_letter_spacing: 2.4px;

$minor_color: #828fa3;
$color_white: #ffffff;
$primary_black: #000112;
$common_background: #635fc7;
$minor_background: #f4f7fd;

$tiny_margin: 8px;
$small_margin: 14px;
$small_padding: 14px;
$regular_margin: 16px;
$regular_padding: 19px;
$universal_backdown: 24px;
$medium_padding: 34px;
$medium_margin: 34px;
$large_margin: 54px;
