$regular_family: 'Plus Jakarta Sans';
$bold_text: 700;

$small_font_size: 12px;
$regular_font_size: 15px;

$small_line_height: 15px;
$regular_line_height: 19px;

$regular_letter_spacing: 2.4px;

$minor_color: #828fa3;
$color_white: #ffffff;
$common_background: #635fc7;
$minor_background: #f4f7fd;

$small_margin: 14px;
$small_padding: 14px;
$regular_margin: 16px;
$medium_padding: 34px;
$medium_margin: 34px;
$large_margin: 54px;
